.card__title {
  margin: 0;
  padding: 0;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  word-wrap: break-word;
}
