.header__group-logo {
  margin: 0;
  margin-bottom: 17px;
  width: 200px;
}

.header__group-logo:hover {
  cursor: pointer;
}

/* @media screen and (max-width: 920px) and (min-width: 581px)   {
  .header__group-logo {
    padding-left: 30px;
  }
}

@media screen and (max-width: 580px) and (min-width: 320px)   {
  .header__group-logo {
    width: 103.74px;
    margin: 0;
    margin-left: 27px;
    margin-top: 28px;
    margin-bottom: 31.6px;
  }
} */