.grid-hero {
  margin: 4px;
  padding: 0;
  margin-bottom: 30px;
  height: fit-content;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: repeat(auto-fit, 472px);
  grid-column-gap: 17px;
  grid-row-gap: 51px;
  justify-content: center;
  }
  