.grid-hero {
  margin: 4px;
  padding: 0;
  margin-bottom: 30px;
  height: fit-content;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: repeat(auto-fit, 188px);
  grid-column-gap: 27px;
  grid-row-gap: 24px;
  justify-content: center;
  }
  