.popup__info-container {
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 76vw;
    height: 58vh;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
}